* {
    margin: 0px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

body {
    background-color: white;
}

.header {
    background-color:#1ccacd;
}


.nav ul li{
    display: inline;
    margin-inline:20px;
    padding: 5px;
}
.nav ul li a{
    color: white;
    opacity: 0.8;
    text-decoration: none;
}
.nav ul li a.active,.nav ul li a:hover{
    opacity: 1;
}
.nav ul li:nth-child(4){
    position: relative;
    cursor: pointer;
}
.nav h3 a{
    text-decoration: none;
    color:white;
    font-style: italic;
    font-weight: 300;
    font-size: 1.5rem;
}

.sub-main {
    display: flex;
    padding-top: 30px;
}

.content {
    padding-right: 500px;
    margin-left: 155px;
    text-decoration: none;
    color:white;
    font-style: italic;
    font-weight: 300;
    font-size: 1.5rem;

}

.con1 {
    margin: 100px;
    font-size: 50px;
}

.download{
    position: absolute;
    top: -10px;
    right: -14px;
    width:1rem;
    height: 1rem;
    background-color: #ff3f4d;
    background-image: url(https://owlcarousel2.github.io/OwlCarousel2/assets/img/download.png);
    background-repeat: no-repeat;
    background-position: 50% 55%;
    border-radius: 100%;
    border:2px solid white;
}
.hero{
    background-color: #1ccacd;
    color: white;
}
.hero .row{
    padding-block: 5rem;
    display: flex;
    margin-inline: auto;
    max-width: 1000px;
    justify-content: space-between;
}
.hero .row .section1{
    padding: 10px;
}
.hero .row .section1 h1{
    font-weight: 300;
    font-size: 3.325rem;
    margin-bottom: 23px;
}
.hero .row .section1 p{
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 23px;
    
}
.hero .row .section1 .buttons{
    padding-block: 23px;
}
.hero .row .section1 .buttons a{
    border: 1px solid white;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.8s;
}
.hero .row .section1 .buttons a:nth-child(1){
    background-color: white;
    color: #1ccacd;
}
.hero .row .section1 .buttons a:nth-child(1):hover{
    background-color: #ff0000e6;
    color:white;
    border-color: #ff0000e6;
}
.hero .row .section1 .buttons a:nth-child(2){
    background-color: #1ccacd;
    color: white;
}
.hero .row .section1 .buttons a:nth-child(2):hover{
    background-color: #ff0000e6;
    color: white;
    border-color: #ff0000e6;
}
.hero .row .section1 .version{
    color:white;
    font-size: 1rem;
    margin-top: 13px;
}
.hero .row .section2{
    padding-inline: 10px;
    flex-basis: 300px;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    gap:7rem;
    margin-inline: auto;
    margin-block: 4.5rem;
    justify-content: center;
}
.container .demo_ex h2{
    color: #808080;
    font-weight: 400;
    font-size: 1.825rem;
    text-align: center;
    margin-bottom: 2rem;
}
.container .demo_ex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container .demo_ex .examples{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap:10px;
}
.examples div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff3f4d;
    height: 200px;
    flex-grow: 1;
    flex-basis: 200px;
    cursor: default;
    font-size: 1.925rem;
    font-weight: 300;
}
.container .features{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:7rem;
}
.features .feature{
    display: flex;
    gap:3rem;
    justify-content: center;
    align-items: center;
    max-width: 620px;
    margin: 0 auto;
    min-width: 620px;
}
.feature div .title{
    font-size: 2.325rem;
    font-weight: 300;
    margin-bottom: 10px;
}
.feature div .description{
    color: gray;
    line-height: 1.6;
}
.feature:nth-child(3) img{
    margin-inline: 1.8rem;
}
.feature:nth-child(5) img{
    margin-inline: 0.5rem;
}
.feature:nth-child(5) div{
    width: 450px;
    margin-left: 1rem;
}
.pride p:nth-child(1){
    color: #1ccacd;
    font-size: 1.6875rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2.25rem;
    padding-inline: 4.5rem;
    line-height: 1.4;
}
.pride p:nth-child(2){
    text-align: center;
    color: #555;
}

footer{
    display: flex;
    padding-block: 1.5rem;
    justify-content: center;
    align-items: center;
    gap:8px;
    background-color: #f7f7f7;
}
footer a{
    text-decoration: none;
}
footer a p{
    display: inline;
    color:#1ccacd;
    font-size: 1.2rem;
}
footer a i{
    color: #1ccacd;
}
